@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFFCC;
    background: #121212;
  }

  .content p, .content ol{
    color: #A1A1AA;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Inter', 'sans-serif';
  }

  .content ol, .content li{
    list-style: auto;
    margin-left: 1.5rem;
  }

  .content blockquote{
    position: relative;
    margin: 1.5em 1em;
  }

  .content blockquote::before{
    background: #28A1FF;
    bottom: 0;
    content: "";
    left: -1.0em;
    position: absolute;
    top: 0;
    width: 0.2rem;
  }

  